<div class="card mt-1">
    <div class="card-body">
        <form #formIngrediente="ngForm" (ngSubmit)="onSubmit(formIngrediente)">
            <input type="hidden" name=key #key="ngModel" [(ngModel)]="ingredienteService.selectedIngrediente.key">
            
            <div class="form-group">
                <input type="text" class="form-control" name="nombre" #nombre="ngModel"
                    [(ngModel)]="ingredienteService.selectedIngrediente.nombre"
                    placeholder="Agregar nombre de ingrediente">
            </div>

            <!-- <div class="form-group">
                <input type="text" class="form-control" name="unidad" #unidad="ngModel"
                    [(ngModel)]="ingredienteService.selectedIngrediente.unidad"
                    placeholder="Agregar unidad de medida">
            </div> -->

            <div class="form-group">
                <button class="btn btn-success mr-1" type="submit">
                    <i class="fas fa-save"></i> Grabar
                </button>

                <button class="btn btn-secondary" type="reset" (click)="limpiarForm(formIngrediente)">
                    <i class="fas fa-sync-alt"></i> Limpiar
                </button>
            </div>
        </form>
    </div>
</div>